/*****************************/
/******* Google fonts ********/
/*****************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/***********************************/
/******* Custom properties ********/
/*********************************/
:root {
  /* colors */
  --text-primary: #333;
  --bg-primary-1: #a1c3ff;

}

/*****************************/
/******* Google resets ********/
/*****************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body resets */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-primary);
  background-color: var(--bg-primary-1);
}

/* Making images easier to work with */
img {
  display: block;
  max-width: 100vw;
}

/* Headings */
h1, h2 {
  margin-bottom: 1rem;
}

/* Making unordered lists easier to work with */
ul {
  list-style: none;
}

/* header image */
.header-img {
  width: 250px;
  border-radius: 20px;
  border-top: 4px solid #619561;
  border-right: 4px solid #619561;
}

/* Controlling widths with the container */
.container {
  max-width: 80em;
  margin-inline: auto;
  padding-inline: 2.5rem;
}
