/*****************************/
/******* Google fonts ********/
/*****************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/***********************************/
/******* Custom properties ********/
/*********************************/
:root {
  /* colors */
  --off-white: #ffff;
  --text-primary: #333;
  --hover-color: #add8e6;
  --bg-primary-1: #a1c3ff;
  --bg-primary-2: #3474e6;
  --bg-primary-3: #0151cc;


}

/*****************************/
/******* Google resets ********/
/*****************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body resets */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-primary);
  background-color: var(--bg-primary-1);
}

/* Making images easier to work with */
img {
  display: block;
  max-width: 100vw;
}

/* Headings */
h1, h2 {
  margin-bottom: 1rem;
}

/* Making unordered lists easier to work with */
ul {
  list-style: none;
}

/* header image */
.header-img {
  position: relative;
  width: 15.625rem;
  border-radius: 1.25rem;
  border-top: 4px solid var(--bg-primary-1);
  border-right: 0.25rem solid var(--bg-primary-1);
  top: 1.5rem;
  transition: opacity .5s;
}

.header-img:hover {
  opacity: .7;
}

/* Controlling widths with the container */
.container {
  max-width: 68.75rem;
  margin-inline: auto;
  padding-inline: 2.5rem;
}


/* navbar */
.navbar {
  background-color: var(--bg-primary-2);
  color: var(--off-white);
  height: 3.75rem;
}

/* logo */
.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

/* nav links */
.navbar a {
  text-decoration: none;
  color: var(--off-white);
  font-weight: bold;
  font-size: 1.125rem;
}

/* navbar hover effect */
.navbar a:hover {
  color: var(--hover-color);
}
/* .navbar .nav a::after { */
  /* content: '';
  position: absolute;
  left: 0; */
  /* bottom: -0.375rem; */
  /* height: 0.875rem;
  width: 0;
  background-color: var(--off-white);
  border-radius: 0.3125rem;
  transition: .5s; */
/* } */

/* .navbar .nava:hover::after {
  width: 100%;
} */

/* navbar flexbox container */
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

}

.navbar .nav {
  display: flex;
}

.navbar ul li {
  margin-left: 1.25rem;
}

/* header section */
.header {
  background-color: var(--bg-primary-3);
  color: var(--off-white);
  min-height: 25rem;
}

.header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
}

/* header flex container */
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

/* boxes flex container  */
.boxes .container {
  display: flex;
  justify-content: space-between;
}

.box {
  flex: 1;
  background-color: var(--bg-primary-3);
  color: var(--off-white);
  border-radius: 1.25rem;
  margin: 2.25rem 0.625rem;
  box-shadow: 0 0.1875rem 0.3125rem rgba(0, 0, 0, 0.6);
  padding: 0.9375rem 1.25rem;
  
}

.box i {
  margin-right: 0.625rem;
}

/* media queries */
@media(max-width: 768px) {
  .navbar {
    height: 6rem;
  }
  
  .navbar .container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .navbar .logo {
    font-size: 1rem;
    padding-top: 1rem;
  }

  .navbar a {
    padding: 1rem
  }
  .header .container {
    flex-direction: column;
    text-align: center;
    padding-top: 1.25rem;
    /* overflow: hidden; */
  }

  .boxes .container {
    display: block;
  }
}